<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458066865327-o2tet9f7oendsp9f7rup92a34esjjb9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458066865327-o2tet9f7oendsp9f7rup92a34esjjb9f</string>
	<key>API_KEY</key>
	<string>AIzaSyDPgWEunKPdSBHMUhdwUhnfC3KtOATVmiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>458066865327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoainguyenngo.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-8406b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-8406b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458066865327:ios:91184538a5cd3e6752b85a</string>
</dict>
</plist>